#accountdet{
    height: 80vh;
    background-color: black;
    display: grid;
    grid-template-columns: 50% 50%;
}
#accimgdiv{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#accdetdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:19%;
}
#accdetdiv>button{
    background-color: white;
    width:30%;
    height: 50%;
    border-radius: 50px;
    cursor: pointer;
}
#accimg{
    height: 90%;
    width: 90%;
}