#frond-full{
 height:110vh;
 background-color:black ;
}
#frond-center{
    color:white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: xx-large;
    font-weight: bold;
    position: absolute;
    top:50vh;
    right:20vw;
}
#frond-center>button{
    background-color: greenyellow;
    width: 10%;
    height:40px;
    border-radius: 50px 50px 50px 0px;
    cursor: pointer;
}
#frond-center>button:hover{
    background-color: rgb(208, 240, 160);
    width: 11%;
}
