#titile{
    font-size:-webkit-xxx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: aqua;
}
#full-head{
    width:100%;
    font-weight: 900;
    background-color: black;
    color: white;
    height: 15vh;
    position: fixed;
    top:1;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    z-index: 3;
}
#nav-options{
    font-size:large;
    display: grid;
    grid-template-columns:repeat(6,1fr) ;
}
.nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.nav-options:hover{
    display: flex;
    text-decoration: underline white 2px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#head-but{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
#head-but>a{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#head-but>a>button{
    background-color: greenyellow;
    color: black;
    width:75%;
    height:55%;
    margin-left: 10px;
    border-radius: 0px 20px 0px 50px;
    cursor: pointer;
}
#head-but>a>button:hover{
    background-color: rgb(208, 240, 160);
    color: red;
    width:80%;
    height:60%;
}
button>*:hover{
    cursor: pointer;
}