#pricing-full{
    position: relative;
    display: grid;
    grid-template-rows:15vh 15vh 45vh 40vh;
}
#pricing{
    margin:5px;
    display: grid;
    height: 45vh;
    grid-template-columns: 30% 30% 30% ;
    justify-content: space-evenly;
}
#pricing>div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#pricing-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
    border: 3px solid black;
    margin: 1%;
    height: 95%;
    width: 90%;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    border-bottom:5px solid aqua ;
    border-radius: 0px 50px 50px 50px;
}
#pricing-1:hover{
    padding:5px;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
#pricing-1>ul{
    margin:0;
}